{% load static %}
<html>

<head>
    <title>
    {% block titulo_pagina %} home {% endblock %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="icon" href="images/AnyConv.com__logo chiquito.jpeg" />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id= "page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info text-uppercase">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="./index.html"> <img
                    src=/static/images/Logo_nuevo.png width="120" height="120" alt="" /></a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-info text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

                Menú
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0-lg-3 rounded" href="./index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-0-lg-3 rounded" href="./contacto.html">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-0-lg-3 rounded" href="./catalogos.html">Productos</a>
                    </li>
                </ul>
                <button type="button" onClick="window.location='./registro.html'" class="btn btn-dark btn-m mr-3"
                    id="loginHref">
                    Regístrate
                </button>

                <button type="button" onClick="window.location='{% url 'login' %}'" class="btn btn-outline-light"
                    id="loginHref">
                    Login
                </button>
                <form class="form-inline my-2 my-lg-0"></form>
            </div>
    </nav>

    <header class="masthead bg-primary text-white text-center">
        <div id="encabezado">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <img class="masthead-avatar mb-5" src=/static/images/marca.png alt="marcadelaempresa" width="300" height="300">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-3">Dulce Despensa</h1>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Masthead Subheading -->
                <h3 class="masthead-subheading font-weight-bold mb-3">Pastelería Artesanal</h3>

            </div>
        </div>
    </header>
        
    {% block content %} {% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <img src=/static/images/FOOTER_LOGO.png alt="footerlogo" width="250" height="150">
                </div>

                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Ubicación</h4>
                    <p class="lead mb-0">Avenida Siempreviva 742
                        <br>Providencia, Santiago</p>
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-3">Redes Sociales</h4>
                    <a class="btn btn-outline-light btn-social mx-0 mb-2" href="#">
                        <i class="fab fa-3x fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-0 mb-2" href="#">
                        <i class="fab fa-3x fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-0 mb-2" href="#">
                        <!-- <i class="fas fa-4x fa-heart text-info mb-4"></i> -->
                        <i class="fab fa-3x fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-0 mb-2" href="#">
                        <i class="fab fa-3x fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>


    <!-- scripts bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>


</html>