
header{
  background-color: #17A2B8;
  margin-bottom: 50px;
}

.container{
  display: grid;
}

.media {
  background-color:transparent;
  padding: 20px;
  color: #f1f1f1;
  
}

#encabezado{
  background-color: #17A2B8;
}
  
.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #17A2B8;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.125);
}

.portfolio {
  margin-bottom: -30px;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #FFD4D7;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #17A2B8;
  opacity: 1;
}

.container{
  max-width: 450px;
  margin-left: 30px;
}



#correo{
  margin-left: 50px;

}
#txtPass{
  margin-left: 24px;

}



.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

#telon{
  width: 500px;
  margin: auto;
}

#navbar{
  width: 100%;
  position: fixed;
  z-index: 100;
}


.masthead .container h1{
  text-shadow: 2px 0 0 #818181, -2px 0 0 #818181, 0 2px 0#818181, 0 -2px 0 #818181, 1px 1px #818181, -1px -1px 0 #818181, 1px -1px 0 #818181, -1px 1px 0 #818181;
}
.masthead .container h3{
font-weight: bold;}

.carousel-inner h5 {
  text-shadow: 2px 0 0 #818181, -2px 0 0 #818181, 0 2px 0#818181, 0 -2px 0 #818181, 1px 1px #818181, -1px -1px 0 #818181, 1px -1px 0 #818181, -1px 1px 0 #818181;
}

/*Carrusel*/

a.carousel-control-prev, a.carousel-control-next {
  width: 7%;
}
.container-fluid h2 {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #FFF;
  margin-bottom: 35px;
  text-shadow: 2px 0 0 #818181, -2px 0 0 #818181, 0 2px 0#818181, 0 -2px 0 #818181, 1px 1px #818181, -1px -1px 0 #818181, 1px -1px 0 #818181, -1px 1px 0 #818181;

}

@media (max-width: 768px){
  .carousel-inner img{
    height:90px; width: 90px;
  }
}

/* FOOOTER */

footer{
  
  justify-content: flex-start;
  background-color: #17A2B8;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  width: auto;
  height: auto;
  padding-bottom: 5%;
  padding-top: 5%;
  }


/*Header(navbar) responsivo*/


@media only screen and (min-width: 991px){
  #linea-nav,#linea-nav1{
    display: none;
  }
}





@media only screen and (max-width: 991px){
 

  #linea-nav,#linea-nav1{
    display: block;
  }
  .line{
    display: none;
  }
  
  #loginHref{
    float: right;
  }
  
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }
  
  
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}


}

#msgerror {
  font-size:1.4em;
}

hr {
  background-color: white;
}


body{
  
  
  background: -webkit-repeating-linear-gradient(90deg,#FFD4D7 0%, #17A2B8 57%, #17A2B8   100%);
}

/* CARDS INDEX*/

#cards{
 margin-top: 50px;
  
}
  
.card{
  height: 200px;

}

.service{
  background-color: white;
}

/* LA CORTINA DE BUSCAR*/


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(26,26,26); /* Black fallback color */
    background-color: rgba(26,26,26, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 70%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /** comentarios **/

/** comentarios **/
.comentarios{
  width: 100%;
  margin-top: 120px;
}
.comentarios .comentarios-title{
  margin:auto;
  text-align: center;
  color: #FFF;
}
.comentarios .comentarios-title h2{
  font-size: 50px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 2px 0 0 #818181, -2px 0 0 #818181, 0 2px 0#818181, 0 -2px 0 #818181, 1px 1px #818181, -1px -1px 0 #818181, 1px -1px 0 #818181, -1px 1px 0 #818181;

}
.comentarios .comentarios-title hr{
  width: 60%;
  height: 2px;
  margin:auto;
  background: var(--black);
}
.comentarios .box-comentarios{
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.comentarios .box-comentarios .card-comentarios{
  width: 45%;
  margin: 20px;
}
.comentarios .box-comentarios .card-comentarios .card-img{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.comentarios .box-comentarios .card-comentarios .card-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.comentarios .box-comentarios .card-comentarios .comentarios-text{
  border: 2px solid transparent;
  padding:20px;
  border-radius: 20px;
  transition: 0.1s;



  cursor: pointer;
}
.comentarios .box-comentarios .card-comentarios .comentarios-text h4{
  font-size: 30px;
  font-weight: 400;
  color: #f1f1f1;
  text-align: center;
  margin-bottom: 10px;
  transition: 0.1s;
}
.comentarios .box-comentarios .card-comentarios .comentarios-text p{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  color: black;
}
.comentarios .box-comentarios .card-comentarios .comentarios-text:hover{
  border: 2px solid transparent;
}
.comentarios .box-comentarios .card-comentarios .comentarios-text:hover h4{
  color: #FFD4D7;
}

@media only screen and (max-width:890px){
  .comentarios .box-comentarios .card-comentarios .card-img img{width: 200px; height: 200px;}
  .comentarios .box-comentarios .card-comentarios{width: 100%;}
  .comentarios .box-comentarios .card-comentarios .comentarios-text h4{font-size: 25px;}
  .comentarios .box-comentarios .card-comentarios .comentarios-text p{font-size: 17px; line-height: 35px;}
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-dialog-scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #FFD4D7;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0 solid #FFD4D7;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 4rem 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 4rem 1rem;
  border-top: 0 solid #FFD4D7;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

@media screen and (max-width: 768px) {
  .div-1 {
    order: 1;
  }
  .div-2 {
    order: 2;
  }
  .div-3 {
    order: 4;
  }
  .div-4 {
    order: 3;
  }
  .div-5 {
    order: 5;
  }
  .div-6 {
    order: 6;
  }
}

.ss .container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  flex: 1 100%;
} 

.media .media-body{
  justify-content: center;
  justify-items: center;
}


.media .media-body p {
  font-size: large;
  text-align: justify; 
  max-width: 700px;
}

.media-body h2{
  text-shadow: 2px 0 0 #818181, -2px 0 0 #818181, 0 2px 0#818181, 0 -2px 0 #818181, 1px 1px #818181, -1px -1px 0 #818181, 1px -1px 0 #818181, -1px 1px 0 #818181;
}

.page-section h1 {
  text-shadow: 2px 0 0 #818181, -2px 0 0 #818181, 0 2px 0#818181, 0 -2px 0 #818181, 1px 1px #818181, -1px -1px 0 #818181, 1px -1px 0 #818181, -1px 1px 0 #818181;
}