{% extends 'base.html' %}

{% block titulo_pagina %} Dulce Despensa - Pastelería Artesanal {% endblock %}
{% block content %}
{% if user.is_superuser %}
<div class="container">
    <div class="jumbotron" style="width:30%">
        <nav class="nav flex-column navbar-inverse">
            <a class="nav-link" href="{% url 'listar_posts' %}">Posts</a>
        </nav>
    </div>
</div>

{% endif %}

    <div class="container">
        <div class="grid-item"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block w-100" src=/static/images/CARRUSEL1.jpeg data-src="holder.js/700x300?theme=social"
                        alt="700x300" data-holder-rendered="true" style="width: 100%; height: 450px" />
                    <div class="carousel-caption d-md-block">
                        <h5 id="carusel1" style="font-size: 35px">
                            ¿Que se te antoja hoy?
                        </h5>
                        <p id="carusel1-sub">
                            Gran variedad de productos para todos los gustos.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src=/static/images/CARRUSEL2.jpeg data-src="holder.js/700x300?theme=social"
                        alt="700x300" data-holder-rendered="true" style="width: 100%; height: 450px" />
                    <div class="carousel-caption d-md-block">
                        <h5 id="carusel2" style="font-size: 35px">
                            Nuestro ingrediente especial: Cariño
                        </h5>
                        <p id="carusel2-sub">
                            Utilizamos ingredientes de primera calidad.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src=/static/images/CARRUSEL4.jpeg data-src="holder.js/700x300?theme=social"
                        alt="1200x300" data-holder-rendered="true" style="width: 100%; height: 450px" />
                    <div class="carousel-caption d-md-block">
                        <h5 id="carusel3" style="font-size: 35px">¿Necesitas algo especial?</h5>
                        <p id="carusel3-sub">
                            ¡Tortas, pasteles, cupcakes y todo lo que desees para tus eventos!
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="grid-item"></div>
    </div>

    <hr class="mt-5 mr-5 ml-5" style="height: 2px" />
    <br /><br />

    <div class="ss">
        <div class="container">
            <div class="media div-1" style="margin:auto">
                <div class="media-body cajaimagen">
                    <img class="perfilchef d-flex mr-5" src=/static/images/PERFIL_opt.jpg
                        style="width: 100; height: 300px; border-radius: 8px;">
                </div>
            </div>

            <div class="media div-2" style="margin:auto">
                <div class="media-body cajatexto">
                    <h2 class="mt-0">Giovanca Cabreras, Nuestra Chef</h2>
                    <p>Empecé mi carrera en la cocina hace 10 años. En el año 2010 comencé mi práctica en el Hotel Ritz
                        Carlton, donde descubrí lo maravilloso que es cocinar, lo difícil que es para uno encontrar su
                        vocación y un lugar donde te sientas pleno y en total libertad.
                        A partir del año 2012 comencé a trabajar en el Hotel W, en donde el año 2015 asumí como Jefe de
                        cocina.
                        Por motivos de la contingencia social me vi en la necesidad de emprender con Dulce Despensa,
                        respaldada por el equipo más importante: mi familia.</p>
                </div>
            </div>
        </div>

        <br />

        <div class="container">

            <div class="media div-3" style="margin:auto">
                <div class="media-body cajatexto">
                    <h2 class="mt-1 mb-3">Pastelería Artesanal</h2>
                    <p>Aquí en Dulce Despensa contamos con un variado y delicioso catálogo con preparaciones clásicas
                        así como también
                        nuestras propias recetas, todas cuidadosamente balanceadas donde combinamos sabores, textura y
                        frescura para brindarle
                        a nuestros clientes un producto final de alta calidad.
                        Tenemos una gran variedad de productos: pasteles, cupcakes, tartas, galletas, alfajores y mucho
                        más! </p>
                </div>
            </div>
            <div class="media div-4" style="margin:auto">
                <div class="media-body cajaimagen">
                    <img class="perfilchef d-flex ml-3" src=/static/images/logo_flex-box.png width="250" height="250">
                </div>
            </div>

        </div>
        <br />
        <div class="container">
            <div class="media div-5" style="margin:auto">
                <div class="media-body cajaimagen">
                    <img class="perfilchef d-flex mr-5" src=/static/images/delivery.png style="width: 200px; height: 250px">
                </div>
            </div>

            <div class="media div-6" style="margin:auto">
                <div class="media-body cajatexto">
                    <h2 class="mt-0">¡Consulte su pedido en nuestra página!</h2>
                    <p>Revise nuestras categorías, escoja sus productos, elija el día, la hora y el lugar del despacho
                        según nuestra disponibilidad
                        y desde Dulce Despensa llegará la dulzura directamente a su hogar para el deleite de toda su
                        familia.</p>
                </div>
            </div>
        </div>

    </div>

    <br />


    <section class="comentarios">
        <div class="comentarios-title">
            <h2>Comentarios</h2>
        </div>

        <div class="box-comentarios">
            <div class="card-comentarios">
                <div class="comentarios-text">
                    <h4>Rafael Domínguez</h4>
                    <div class="card-img"><img src=/static/images/cliente1.jpg alt="1"></div>
                    <p>"Soy de región y probé sus alfajores en una de mis visitas a la capital.
                        <br />Cuando viaje a Santiago de nuevo de seguro que vuelvo a comprar sus ricos alfajores
                        bañados."</p>
                </div>
            </div>

            <div class="card-comentarios">
                <div class="comentarios-text">
                    <h4>Norma Guzmán L.</h4>
                    <div class="card-img"><img src=/static/images/cliente2.jpg alt="2"></div>
                    <p>"Encargué una torta de lúcuma para el Día de la Madre y quedaron todos encantados.
                        <br /> Excelente relación precio-calidad.
                        <br />¡Las recomiendo para cualquier ocasión!"</p>
                </div>
            </div>

            <div class="card-comentarios">
                <div class="comentarios-text">
                    <h4>Bárbara Blanco</h4>
                    <div class="card-img"><img src=/static/images/cliente3.jpg alt="3"></div>
                    <p>"Juro que amo sus galletas.
                        <br />Creo que las he probado todas pero mis favoritas son las de mantequilla.
                        Me encantan porque me recuerdan mi infancia, son soñadas.
                        <br />Me declaro fanática y las recomiendo 100%."</p>
                </div>
            </div>

            <div class="card-comentarios">
                <div class="comentarios-text">
                    <h4>AuronPlay</h4>
                    <div class="card-img"><img src=/static/images/cliente4.jpg alt="4"></div>
                    <p>"Yo por ahí no paso."</p>
                </div>
            </div>

        </div>
    </section>

    <div class="grid-item"></div>

    <hr class="mt-5 mr-5 ml-5" style="height: 2px" />

    <!-- Carrusel Proveedores -->
    <div class="container-fluid">

        <div id="carrusel" class="carousel slide p-4" data-ride="carousel">
            <h2> NUESTROS PROVEEDORES</h2>
            <!-- The slideshow -->
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <!-- First Slide -->
                    <div class="d-flex justify-content-around">
                        <!-- Flex Slide Box -->
                        <img class="rounded-circle" src=/static/images/cherrychile_logo.jpg alt="1" width="140" height="140">
                        <img class="rounded-circle" src=/static/images/losalerces_logo.png alt="2" width="140" height="140">
                        <img class="rounded-circle" src=/static/images/elvolcan_logo.png alt="3" width="140" height="140">
                    </div>
                </div>

                <div class="carousel-item">
                    <!-- Second Slide -->
                    <div class="d-flex justify-content-around">
                        <!-- Flex Slide Box -->
                        <img class="rounded-circle" src="/static/images/casacosta_logo.png" alt="4" width="140" height="140">
                        <img class="rounded-circle" src="/static/images/puratos_logo.png" alt="5" width="140" height="140">
                        <img class="rounded-circle" src="/static/images/khanda_logo.png" alt="6" width="140" height="140">
                    </div>
                </div>

                <div class="carousel-item">
                    <!-- Second Slide -->
                    <div class="d-flex justify-content-around">
                        <!-- Flex Slide Box -->
                        <img class="rounded-circle" src="/static/images/collico_logo.png" alt="7" width="140" height="140">
                        <img class="rounded-circle" src="/static/images/richs_logo.png" alt="8" width="140" height="140">
                        <img class="rounded-circle" src="/static/images/kitchenaid_logo.jpg" alt="9" width="140" height="140">
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#carrusel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next " href="#carrusel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <br /><br /><br /><br />
{% endblock %}